body {
    background-color:  rgba(192, 212, 255);
}

@font-face {
    font-family: "EBGaramond08";
    src:local("EBGaramond08-Regular"),
    url("EBGaramond08-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

.grid-container {
    display: grid;
    grid-auto-columns: 1fr;
    padding-top: 20vh;
    gap: 20px;
}

.grid-child {
    align-self: center;
    padding: 50px;
    font-size: 110px;
    text-align: center;
}

.garamond {
    font-family: 'EBGaramond08', serif;
}

a {
    background-color: lemonchiffon;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 20px;
    font-size: 40px;
}

a:hover {
    cursor: url(assets/Week5cursor.png), pointer;
    background-color: pink;
}